.list {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.list__item {
  display: flex;
  align-items: center;
}

.list__text {
  margin-left: 12px;
  color: var(--color-text-primary);
  font-size: var(--font-size-sm);
}
