.picture {
  display: flex;
  justify-content: center;

  position: absolute;
  left: 57%;
  bottom: -39px;
  width: 300px;
  height: 200px;
  z-index: -1;
  opacity: 0;
  transform: translateY(20px);
  animation: showImage 0.3s ease-out 0.4s forwards;
  will-change: transform, opacity;
}

@keyframes showImage {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 600px) {
  .picture {
    display: none;
  }
}
