.list {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.list__item {
  display: flex;
  align-items: center;
  line-height: 1.5;
}

.list__icon {
  min-height: 24px;
  min-width: 24px;
}

.list__text {
  margin-left: var(--spacing-sm);
  color: var(--color-text-primary);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
}
