/* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
/* poppins-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('src/assets/fonts/poppins-regular.woff2') format('woff2');
}

/* poppins-500 - latin */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('src/assets/fonts/poppins-500.woff2') format('woff2');
}

/* poppins-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('src/assets/fonts/poppins-600.woff2') format('woff2');
}
