@import './fonts.css';

:root {
  --color-primary: #ff4c5c;
  --color-background: #ffffff;
  --color-primary-active: #d43746;
  --color-primary-hover: #ff6673;
  --color-text-primary: #0b002e;
  --color-text-secondary: rgba(11, 0, 46, 0.64);
  --color-close-button: #0b002e0d;
  --color-close-button-hover: rgba(11, 0, 46, 0.17);
  --color-border: #6666ff;
  --color-background-app: #f3f2f7;

  /* Spacing */
  --spacing-xs: 8px;
  --spacing-sm: 12px;
  --spacing-md: 16px;
  --spacing-ml: 20px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-2xl: 40px;

  /* Border radius */
  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 16px;
  --radius-full: 50%;

  --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.05);
  --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 10px 15px rgba(0, 0, 0, 0.1);

  /* Fonts */
  --font-family:
    Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
  --font-size-xs: 12px;
  --font-size-sm: 16px;
  --font-size-md: 18px;
  --font-size-lg: 20px;
  --font-size-xl: 24px;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;

  /* Transitions */
  --transition-normal: 250ms ease-in-out;

  /* Z-indexes */
  --z-modal: 1000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-background-app);
  font-family: var(--font-family);
  overflow: hidden;
}
