.link {
  color: var(--color-text-secondary);
  text-decoration: none;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-semibold);
  text-transform: uppercase;
  text-align: center;
}

.link:hover {
  color: var(--color-primary);
}

.link:focus {
  outline: 1px solid var(--color-primary);
}
