.banner {
  background-color: var(--color-background);
  border: 2px solid var(--color-border);
  border-radius: var(--radius-lg);
  padding: 32px 44px;
  width: 90%;
  max-width: 700px;
  height: auto;
  min-height: 376px;
  max-height: 80vh;
  margin: 20px auto;
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: var(--z-modal);
  overflow: hidden;

  transform: translate(-50%, -50%) scale(0.9) translateY(20px);
  animation: bannerAnimation 0.5s ease-out forwards;
  will-change: transform, opacity;
}

@keyframes bannerAnimation {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9) translateY(20px);
  }
  60% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.05) translateY(0);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1) translateY(0);
  }
}

.banner__close {
  position: absolute;
  top: 12px;
  right: 12px;
  background: #e0e0e0;
  border: none;
  border-radius: var(--radius-full);
  width: 36px;
  height: 36px;
  transition: background var(--transition-normal);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.banner__close:hover,
.banner__close:focus {
  background: #ccc;
}

.banner__close:active {
  background: #bbb;
}

.banner__title {
  font-size: var(--font-size-xl);
  color: var(--color-text-primary);
  margin-bottom: 16px;
}

.banner__content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  overflow-wrap: break-word;
}

.banner__description {
  font-size: var(--font-size-sm);
  color: var(--color-text-primary);
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
}

.banner__actions {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: var(--spacing-xl);
}

@media (max-width: 600px) {
  .banner {
    max-height: 100%;
  }

  .banner__close {
    width: 28px;
    height: 28px;
  }
  .banner__content {
    flex-direction: column;
  }
  .banner__actions {
    flex-direction: column;
    gap: 12px;
    flex: 1;
    & > * {
      width: 100%;
    }
  }
  .banner__title {
    font-size: var(--font-size-lg);
  }
}
